
.side-bar-bg-con {
        height: 90vh;
        width: 18vw;
        border: 0.5px solid rgb(182, 180, 180);
        background-color: rgb(255, 255, 255);
        padding: 20px;
      }
      .nav-con {
        height: 100%;
        width: 100%;
        padding-top: 20px;
      }
      .side-list-con {
        background-color: rgb(255, 255, 255);
        width: 100%;
        font-weight: bold;
        height: 9%;
        margin-bottom: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        padding-left: 10px;
      }  
      .link {
        text-decoration: none;
      }
      .ii{
        margin-right: 10px;
        margin-left: 0px;
      }
      .side-icon{

        font-size: 30px;
        margin-right: 10px;
      }
      /* Hide the sidebar on smaller screens */
      
      /* Show the sidebar on medium and larger screens */
      @media (max-width: 768px) {
        .side-bar-bg-con{
          display: none;
        }
      }
      
      